<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997904856022-3fhgbiv5l70b686tm7bln4u8022nheju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997904856022-3fhgbiv5l70b686tm7bln4u8022nheju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997904856022-k4cs8rp85j612553peti1jm240hqqdjo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqXOsBRMrmZUgfnRIovfJVIsEZpx8aTOU</string>
	<key>GCM_SENDER_ID</key>
	<string>997904856022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.hazm.app.ios</string>
	<key>PROJECT_ID</key>
	<string>hazm-19</string>
	<key>STORAGE_BUCKET</key>
	<string>hazm-19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997904856022:ios:a6d9c8ad1d840d0affea77</string>
	<key>DATABASE_URL</key>
	<string>https://hazm-19.firebaseio.com</string>
</dict>
</plist>